/* Basic container style */
.admin-home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('../assets/admin-bg.jpg') no-repeat center center/cover;
  position: relative;
  overflow: hidden;
  color: #333;
  margin-left: 284px;
  }
  
  /* Content section */
  .admin-home-content {
    max-width: 1000px;
    width: 100%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  /* Title */
  .admin-home-title {
    font-size: 2.5em;
    font-weight: bold;
    color: #4B4376; /* Dark color for text */
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
  }
  
  /* Description text */
  .admin-home-description {
    font-size: 1.2em;
    color: #4B4376; /* Dark color for text */
    margin-bottom: 30px;
    text-align: center;
  }
  
  /* Button styles */
  .admin-home-action-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .admin-home-button {
    background-color: #4B4376;  /* Dark color for buttons */
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .admin-home-button:hover {
    background-color: #3a3560;
    transform: translateY(-5px);
  }
  
  .admin-home-button:focus {
    outline: none;
  }
  